.info {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.created {
  color: var(--blue-light);
}

.done {
  color: var(--purple-light);
}

.created,
.done {
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
}

.created span,
.done span {
  display: block;
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2px 8px;
  margin-left: 0.5rem;
  border-radius: 999px;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem 1.5rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.empty p {
  display: flex;
  flex-direction: column;
  color: var(--gray-300);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
